In [30]:
# python3

from collections import namedtuple

Bracket = namedtuple("Bracket", ["char", "position"])


def are_matching(left, right):
    return (left + right) in ["()", "[]", "{}"]


def find_mismatch(text):
    opening_brackets_stack = []
    i = 0
    for i, next in enumerate(text):
        if next in "([{":
            # Process opening bracket, write your code here
            opening_brackets_stack.append(next)       

        if next in ")]}":
            # Process closing bracket, write your code here
            if len(opening_brackets_stack) == 0:
                return i
            else:
                if are_matching(opening_brackets_stack[-1], next):
                    del opening_brackets_stack[-1]
                else:
                    return text.find(str(opening_brackets_stack[-1])  
                                     
    if len(opening_brackets_stack) == 0:            
        return 'Success'
    #     else:
    #         return i+1


def main():
    text = input()
    mismatch = find_mismatch(text)
    print(mismatch)
    # Printing answer, write your code here
               

if __name__ == "__main__":
    main()

SyntaxError: invalid syntax (<ipython-input-30-8b0be65defe1>, line 30)

NameError: name 'math' is not defined

In [ ]:
a = lambda x: x**2
type(a)

In [ ]:
L = [1,2,4,-1,-4]
L<2

In [3]:
def fibbo(n):
    x = 1
    y = 1
    lis = [1, 1]
    
    while len(lis) < n:
        x, y = y , x+y
        lis.append(y)
        
    return lis
        
fibbo(5)
fibbo(11)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [4]:
import numpy as np

np.array()

TypeError: array() missing required argument 'object' (pos 1)

In [ ]:
multiples_of_seven = []
for i in range(2000,3201):
    if i%7 ==0 and i%5 != 0:
        multiples_of_seven.append(i)
        
print(multiples_of_seven)

In [ ]:
import IPython.display as ipd
ipd.Audio("Users/hp/Downloads/Music/[lyrics] Alice In Weird Land - 요조(Yozoh) (화이 OST).mp3", rate = 44000 )

In [6]:
import numpy as np

def find_duplicate(array):
    duplicate = [x for x in range(0,len(array)) if array.count(x) > 1]
    return duplicate

arr = np.array([1,22,22,34,2,3])
find_duplicate(arr)

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [7]:
import pandas as pd

obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
obj.values

In [ ]:
obj.index

In [9]:
obj2 = pd.Series([4,7,-5,3], index = ['a','b','c','d'])
print(obj2)

a    4
b    7
c   -5
d    3
dtype: int64

In [10]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
obj2['a'] = 1
obj2

In [ ]:
obj2[:]= [1,2,3,4]
obj2

In [ ]:
obj2[['a','b']]

In [ ]:
obj2[obj2>3]

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

In [ ]:
#in is checked to see for the index not value
'b' in obj2

In [ ]:
2 in obj2

In [ ]:
#Creating a Series from a dictionary

m_dict = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
dict_series = pd.Series(m_dict)
dict_series

In [ ]:
#We can override the order of the keys of dictionary by passing a list
#We cannot override the keys though

indices_list = ["Texas", "Oregon", "Ohio", "Utah"]
dict_series2 = pd.Series(m_dict, indices_list)
dict_series2

In [ ]:
#Detecting missing data in a Series
pd.isnull(dict_series)

#We can use this isnull function directly with a pd object as well

In [ ]:
dict_series.isnull()

In [ ]:
obj2 + dict_series

In [ ]:
obj2

In [12]:
obj2.name = "This is a custom name"

In [13]:
obj2

a    4
b    7
c   -5
d    3
Name: This is a custom name, dtype: int64

In [19]:
obj2.index.name = 'Alphabets as index'

In [20]:
obj2

Alphabets as index
a    4
b    7
c   -5
d    3
Name: This is a custom name, dtype: int64

### Dataframe

In [23]:
#Constructing dataframes from a dictionary of equal lengths
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
       }
frame1 = pd.DataFrame(data)
frame1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [25]:
frame1.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [4]:
import pandas as pd
m_list = [['Shizen', 20, 'Leader'],['Leo', 20, 'Debugger'],['Pica', 19, 'Developer']]
df = pd.DataFrame(m_list, columns = ['Name', 'Age', 'Position'], index = ['a','b','c'])
df

     Name  Age   Position
a  Shizen   20     Leader
b     Leo   20   Debugger
c    Pica   19  Developer

In [6]:
#Creating a dataframe from a dictionary of lists:
data = {'name':['Shizen', 'Leohang', 'Pica'], 'Age':[20,21,22], 'Position': ['CEO','Tester','Developer']}
df2 = pd.DataFrame(data)
df2

      name  Age   Position
0   Shizen   20        CEO
1  Leohang   21     Tester
2     Pica   22  Developer

In [8]:
data = [{'a':1, 'b': 2 , 'c':3}, {'a':4, 'e':5}]
df3 = pd.DataFrame(data)
print(df3)

   a    b    c    e
0  1  2.0  3.0  NaN
1  4  NaN  NaN  5.0

In [4]:
hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter Rate:")
r = float(rate)

if hrs < 40:
    pay = h * r    
else:
    extra_hour = h - 40
    extra_pay = extra_hour * (r*1.5)
    pay = ((40 * (r*1.5)) + extra_pay
           
print(pay)

SyntaxError: invalid syntax (<ipython-input-4-fb3ad8b13c85>, line 13)

In [ ]:
hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter Rate:")
r = float(rate)

if h < 40:
    pay = h * r    
else:
    extra_hour = h - 40
    extra_pay = extra_hour * (r*1.5)
    pay = ((40*r) + extra_pay)
print(pay)

Enter Hours:45

In [5]:
score = input("Enter Score: ")
s = float(score)

if s < 1.0:
    if s >=  0.9:
        print('A')
    elif s >= 0.8:
        print('B')
    elif s >= 0.7:
        print('C')
    elif s >= 0.6:
        print('D')
    else:
        print('F')
else:
    print('Error')

Enter Score: 3
Error

In [1]:
score = input("Enter Score: ")
try:
    s = float(score)

    if s < 1.0:
        if s >=  0.9:
            print('A')
        elif s >= 0.8:
            print('B')
        elif s >= 0.7:
            print('C')
        elif s >= 0.6:
            print('D')
        else:
            print('F')
    else:
        print('Error')
        
except:
    print("Please enter a valid number.")

Enter Score: 0.8
B

5.2 Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. Once 'done' is entered, print out the largest and smallest of the numbers. If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number. Enter 7, 2, bob, 10, and 4 and match the output below.

In [1]:
largest = 0
smallest = None
while True:
    num = input("Enter a number: ")
    if num == "done" : 
        break
    try:
        n = int(num)
        if smallest is None:
            smallest = n
        if n < smallest:
            smallest = n
        if n > largest:
            largest = n  
    except:
        print('Invalid input')
        continue

print('Maximum is', largest)
print('Minimum is', smallest)

Enter a number: done
Maximum is 0
Minimum is None

8.4 Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.

You can download the sample data at http://www.py4e.com/code3/romeo.txt

In [20]:
fh = open('romeo.txt')
lst = list()

for line in fh:
    line = line.rstrip()
    words = line.split()
    for word in words: 
        if word in lst:
            continue
        lst.append(word)
print(sorted(lst))

['Like', 'To', 'Use', 'a', 'it.', 'matrix:', 'multiply', 'of', 'transform', 'vector:']

8.5 Open the file mbox-short.txt and read it line by line. When you find a line that starts with 'From ' like the following line:

From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008

You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.

Hint: make sure not to include the lines that start with 'From:'.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt

In [30]:
fname = input("Enter file name: ")
fh = open(fname)
count = 0

for line in fh:
    line = line.rstrip()
    words = line.split()
    
    if line == '':
        continue
    
    if words[0] != 'From':
        continue
        
    req = words[1]
    print(req)
    count+=1

print("There were", count, "lines in the file with From as the first word")

Enter file name: mbox-short.txt
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word

In [17]:
di = {'b':2, 'c':3, 'a':1}

print(di.get('a'))
di.get('e', 0)

1

0

In [18]:
for i in di:
    print(i)

b
c
a

In [19]:
my_dict = {'Chuck': 1, 'Fred': 42, 'Jan': 100}
for i in my_dict:
    print(i)

Chuck
Fred
Jan

In [20]:
for i in my_dict:
    print(i, my_dict[i])

Chuck 1
Fred 42
Jan 100

In [26]:
list(my_dict)

['Chuck', 'Fred', 'Jan']

In [27]:
my_dict.keys()

dict_keys(['Chuck', 'Fred', 'Jan'])

In [28]:
my_dict.items()

dict_items([('Chuck', 1), ('Fred', 42), ('Jan', 100)])

In [30]:
for key, value in my_dict.items():
    print(key, value)

Chuck 1
Fred 42
Jan 100

In [1]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'rayan', 'cwen']

for name in names:
    if name not in counts:
        counts[name] = 1
    else:
        counts[name] += 1
counts

{'csev': 2, 'cwen': 2, 'rayan': 1}

In [4]:
handle = open('mbox-short.txt')
new_counts = dict()
for line in handle:
    if line.startswith('From '):
        words = line.split()
        time = words[5]
        hour = time.split(':')[0]
        new_counts[hour] = new_counts.get(hour, 0) + 1
        
new_counts_list = [(key, value) for key,value in new_counts.items()]
sorted_list = sorted(new_counts_list)
sorted_list

[('04', 3),
 ('06', 1),
 ('07', 1),
 ('09', 2),
 ('10', 3),
 ('11', 6),
 ('14', 1),
 ('15', 2),
 ('16', 4),
 ('17', 2),
 ('18', 1),
 ('19', 1)]

In [31]:
def fn(*cour, **stu):
    for a in cour:
        print(a)
        
    for b in stu:
        print(b)
        

fn('math', 'science', name='Leo', num = 8084757)

math
science
name
num

In [33]:
# python3

from collections import namedtuple

Bracket = namedtuple("Bracket", ["char", "position"])


def are_matching(left, right):
    return (left + right) in ["()", "[]", "{}"]


def find_mismatch(text):
    opening_brackets_stack = []
    i = 0
    for i, next in enumerate(text):
        if next in "([{":
            # Process opening bracket, write your code here
            opening_brackets_stack.append(next)       

        if next in ")]}":
            # Process closing bracket, write your code here
            if len(opening_brackets_stack) == 0:
                return i
            else:
                if are_matching(opening_brackets_stack[-1], next):
                    del opening_brackets_stack[-1]
                else:
                    return text.find(str(opening_brackets_stack[-1])  
                                     
    if len(opening_brackets_stack) == 0:            
        return 'Success'
    #     else:
    #         return i+1


def main():
    text = input()
    mismatch = find_mismatch(text)
    print(mismatch)
    # Printing answer, write your code here
               

if __name__ == "__main__":
    main()

SyntaxError: invalid syntax (<ipython-input-33-8b0be65defe1>, line 30)

In [40]:
# python3

from collections import namedtuple

Bracket = namedtuple("Bracket", ["char", "position"])


def are_matching(left, right):
    return (left + right) in ["()", "[]", "{}"]


def find_mismatch(text):
    opening_brackets_stack = []
    i = 0
    for i, next in enumerate(text):
        if next in "([{":
            # Process opening bracket, write your code here
            opening_brackets_stack.append(next)       

        if next in ")]}":
            # Process closing bracket, write your code here
            if len(opening_brackets_stack) == 0:
                return i
            else:
                if are_matching(opening_brackets_stack[-1], next):
                    del opening_brackets_stack[-1]
                else:
                    l = text.find(str(opening_brackets_stack[-1])
                    return l              

    if len(opening_brackets_stack) == 0:            
        return 'Success'
    else:
        return i+1  


def main():
    text = input()
    mismatch = find_mismatch(text)
    print(mismatch)
    # Printing answer, write your code here
               

if __name__ == "__main__":
    main()

SyntaxError: invalid syntax (<ipython-input-40-49b53ac3d83e>, line 29)

In [1]:
if '':
    print(True)
else:
    print(False)

False

In [ ]:
http://py4e-data.dr-chuck.net/comments_42.xml

In [11]:
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET
import ssl

url = input('Enter the link: ')
html = urllib.request.urlopen(url).read()


tree = ET.fromstring(html)
list_of_comments = tree.findall('comments/comment')
list_of_comments
count = 0
for item in list_of_comments:
    count += int(item.find('count').text)
    
count

Enter the link: http://py4e-data.dr-chuck.net/comments_527443.xml

2783