In [1]:
import pandas as pd

In [2]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer','Doe','Doe'],
    'email': ['corey@gmail.com', 'jane@gmail.com','john@gmail.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   jane@gmail.com
2   John      Doe   john@gmail.com

# Updating rows in DataFrame
Like we did before, we use the loc and iloc indexers as the starting points for setting values as well.

### Updating a single value row

In [5]:
#Let's select the column with the index num of 2 (i.e.John)
df.loc[2]

first              John
last                Doe
email    john@gmail.com
Name: 2, dtype: object

NOTE: We can do this by applying filters with conditionals as well. <br>
Like we did before

### Updating the entire row 
We can accomplish this by assigning a list of values for each column

In [6]:
#Updating the entire row by assigning a list of values 
df.loc[2] = ['Jonathan', 'Smith', 'johnsmith@gmail.com']

In [7]:
df

      first     last                email
0     Corey  Schafer      corey@gmail.com
1      Jane      Doe       jane@gmail.com
2  Jonathan    Smith  johnsmith@gmail.com

### Updating specific columns of a row
It' simple, just like we did when indexing the specific rows+columns(subsequently) of a dataframe, we just do that.<br>
df.loc[row_index, column_incex]<br><br>
And assign the new values by passing a list

In [10]:
df.loc[2,['last','email']]
#Selecting the row of index 2 and it's 'last' and 'email' columns
#A Series object is returned

last                   Smith
email    johnsmith@gmail.com
Name: 2, dtype: object

In [12]:
#Assigning the values now
df.loc[2,['last','email']] = ['Doe', 'john@gmail.com']
df

      first     last            email
0     Corey  Schafer  corey@gmail.com
1      Jane      Doe   jane@gmail.com
2  Jonathan      Doe   john@gmail.com

In [ ]:
df.loc[0]