#### Recall from previous chapter

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

In [3]:
%%sql
CREATE TABLE student(student_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, student_name VARCHAR(50) NOT NULL, student_email VARCHAR(50), student_contact VARCHAR(15));
CREATE TABLE course(course_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, course_name VARCHAR(50) NOT NULL, course_length INTEGER);
CREATE TABLE enrollment(student_id INTEGER, course_id INTEGER, FOREIGN KEY(student_id) REFERENCES student(student_id) ON DELETE CASCADE ON UPDATE CASCADE, FOREIGN KEY(course_id) REFERENCES course(course_id) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE module(course_id INTEGER, module_num INTEGER, module_name VARCHAR(50) NOT NULL, PRIMARY KEY(course_id,module_num), FOREIGN KEY(course_id) REFERENCES course(course_id) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE unit(course_id INTEGER, module_num INTEGER, unit_num INTEGER, unit_name VARCHAR(50) NOT NULL, time_allotted float, PRIMARY KEY(course_id,module_num,unit_num), FOREIGN KEY(course_id,module_num) REFERENCES module(course_id,module_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE chapter(course_id INTEGER, module_num INTEGER, unit_num INTEGER, chapter_num INTEGER, chapter_name VARCHAR(50) NOT NULL, PRIMARY KEY(course_id, module_num, unit_num, chapter_num), FOREIGN KEY(course_id, module_num, unit_num) REFERENCES unit(course_id,module_num, unit_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE project(course_id INTEGER, module_num INTEGER, project_title VARCHAR(50) NOT NULL, project_marks INTEGER, FOREIGN KEY(course_id,module_num) REFERENCES module(course_id,module_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE assignment(course_id INTEGER,module_num INTEGER,unit_num INTEGER, assignment_name VARCHAR(50) NOT NULL, assignment_marks INTEGER, FOREIGN KEY(course_id, module_num, unit_num) REFERENCES unit(course_id, module_num, unit_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE quiz(course_id INTEGER, module_num INTEGER, unit_num INTEGER, chapter_num INTEGER, num_questions INTEGER, FOREIGN KEY(course_id, module_num, unit_num, chapter_num) REFERENCES chapter(course_id,module_num, unit_num, chapter_num) ON DELETE CASCADE ON UPDATE CASCADE);
INSERT INTO student(student_name, student_email) VALUES ('John Doe', 'john@fusemachines.com'),('Dummy Person', 'dummy@fusemachines.com'),('Alison Burgers','alison@fusemachines.com'),('Harka Bahadur','harke@fusemachines.com.np'),('Ful Kumari','fulkumari@fusemachines.com.np'),('Chulbul Pandey','chulbul@fusemachines.com'),('Bir Kaji Sherchan','birkaji@fusemachines.com.np'),('Maiya Gauchan','maiya@fusemachines.com.np');
INSERT INTO course (course_name,course_length) VALUES ('Fundamentals of Computer Science',3),('Fundamentals of Mathematics',4),('Machine Learning',5),('Deep Learning',5),('Computer Vision',5),('Natural Language Processing',5);
INSERT INTO enrollment (student_id, course_id) VALUES (1,1),(1,2),(2,1),(3,1),(4,2),(5,1),(6,1),(7,2);
INSERT INTO module(course_id, module_num, module_name) VALUES (1,1,'Introduction to the Course'),(1,2,'Basics of Computer Systems'),(1,3,'Python Programming'),(1,4,'Data Structures and Algorithms'),(1,5,'Database'),(1,6,'Building Applications'),(2,1,'Introduction to the Course'),(2,2,'Linear Algebra'),(2,3,'Calculus'),(2,4,'Probability and Statistics'),(2,5,'Information Theory'),(2,6,'Numerical Computation');
INSERT INTO unit(course_id, module_num, unit_num, unit_name, time_allotted) VALUES (1,1,1,'Introduction to the Course',0.25),(1,1,2,'Introduction to AI',0.5),(1,2,1,'Introduction to the Module',0),(1,2,2,'Digital Information & Digital Logic',1.25),(1,2,3,'Basics Computer Architecture',2),(1,2,4,'Basics of Linux Operating System',1.5),(1,2,5,'Basics of Computer Networks',1.5),(1,2,6,'Module Summary',0),(1,3,1,'Introduction to the Module',0),(1,3,2,'Python Programming',5),(1,3,3,'Object Oriented Programming',4.5),(1,3,4,'Web Scraping',0.75),(1,3,5,'Numpy',2),(1,3,6,'Pandas',2),(1,3,7,'Matplotlib',1),(1,3,8,'Module Summary',0),(2,2,1,'Introduction to the Module',0),(2,2,2,'Scalars Vectors and their operations',1.75),(2,2,3,'Linear transformations and Matrix',1.5),(2,2,4,'Solving Linear Equations',3.75),(2,2,5,'Determinant and Inverses',2.25),(2,2,6,'Orthogonality',2),(2,2,7,'Eigen and Singular Value Decomposition',2.75),(2,2,8,'Module Summary',0),(2,3,1,'Introduction to the Module',0),(2,3,2,'Derivatives',3.25),(2,3,3,'Integrals',2.25),(2,3,4,'Multivariable Calculus',3),(2,3,5,'Optimization of multivariable Functions',2.5),(2,3,6,'Integrals of multivariable functions',2),(2,3,7,'Module Summary',0);
INSERT INTO chapter(course_id, module_num, unit_num, chapter_num, chapter_name) VALUES (1,1,1,1,'Introduction to the Course'),(1,1,1,2,'Course Logistics'),(1,1,2,1,'AI and its applications'),(1,1,2,2,'A Brief History of AI'),(1,1,2,3,'Types of AI'),(1,1,2,4,'Introduction to ML'),(1,2,1,1,'Introduction to the Module'),(1,2,2,1,'Number Representation in computers'),(1,2,2,2,'Digital Information'),(1,2,2,3,'Boolean Operation and algebra');
INSERT INTO project(course_id, module_num, project_title, project_marks) VALUES (2,1,'None',0),(2,2,'3D Reconstruction',200),(2,3,'Shape Optimization',250);
INSERT INTO assignment(course_id, module_num, unit_num, assignment_name, assignment_marks) VALUES (2,2,1,'N/A',0),(2,2,2,'Similarity',60),(2,2,3,'Robotics Forward Kinematics',70),(2,2,4,'Kirchoffs Law: Traffic flow',80),(2,2,5,'Inverse Kinematics',90),(2,2,6,'Least-Squares',100),(2,2,7,'Eigen Faces',110),(2,2,8,'N/A',0),(2,3,1,'N/A',0),(2,3,2,'Robotics Forward Kinematics',60),(2,3,3,'Single variable gradient descent',70),(2,3,4,'Trapezoidal rule',80),(2,3,5,'Image edge detection',90),(2,3,6,'Multi variable gradient descent',100),(2,3,7,'N/A',110);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
8 rows affected.
6 rows affected.
8 rows affected.
12 rows affected.
31 rows affected.
10 rows affected.
3 rows affected.
15 rows affected.

[]

### Set Operations

**Note**: 
1. MySQL only supports **UNION** operation. It does not support **INTERSECT** and **EXCEPT**.
2. Each set operation automatically eliminates duplicates
3. Preserve Duplicates: UNION ALL, INTERSECT ALL, UNION ALL


Syntax: `(SQL statement) <Set operation> (SQL statement)`

> Q. Find all the less time consuming assignments (that have <= 60 marks) and more time consuming assignments( >= 100 marks)

In [6]:
%%sql
SELECT assignment_name, assignment_marks from assignment where assignment_marks <= 60
UNION
SELECT assignment_name, assignment_marks from assignment where assignment_marks >=10

 * sqlite://
Done.

[('Eigen Faces', 110),
 ('Image edge detection', 90),
 ('Inverse Kinematics', 90),
 ('Kirchoffs Law: Traffic flow', 80),
 ('Least-Squares', 100),
 ('Multi variable gradient descent', 100),
 ('N/A', 0),
 ('N/A', 110),
 ('Robotics Forward Kinematics', 60),
 ('Robotics Forward Kinematics', 70),
 ('Similarity', 60),
 ('Single variable gradient descent', 70),
 ('Trapezoidal rule', 80)]

### Aggregate Functions
An aggregate function summarizes the results of an expression over a number of rows, returning a single value.
Some of the commonly used aggregate functions are:
* ___avg___: average value
* ___min___: minimum value
* ___max___: maximum value
* ___sum___: sum of values
* ___count___: counts rows in a specified table 

>Remember: COUNT (*) is the only function which wonâ€™t ignore NULLs. Other functions like SUM, AVG, MIN, MAX they ignore NULLs.

**Syntax:**

```
SELECT column_name, aggregate_function(column_name)
FROM table_name
WHERE column_name condition
GROUP BY column_name
```

> Q. Find the total number of courses offered in Fuse.AI

In [10]:
%sql SELECT * from course

 * sqlite://
Done.

[(1, 'Fundamentals of Computer Science', 3),
 (2, 'Fundamentals of Mathematics', 4),
 (3, 'Machine Learning', 5),
 (4, 'Deep Learning', 5),
 (5, 'Computer Vision', 5),
 (6, 'Natural Language Processing', 5)]

In [11]:
%sql SELECT count(*) from course

 * sqlite://
Done.

[(6,)]

<br/>

> Q. Select all assignments which are graded i.e assignment marks is not 0

In [12]:
%sql SELECT * FROM assignment WHERE assignment_marks != 0

 * sqlite://
Done.

[(2, 2, 2, 'Similarity', 60),
 (2, 2, 3, 'Robotics Forward Kinematics', 70),
 (2, 2, 4, 'Kirchoffs Law: Traffic flow', 80),
 (2, 2, 5, 'Inverse Kinematics', 90),
 (2, 2, 6, 'Least-Squares', 100),
 (2, 2, 7, 'Eigen Faces', 110),
 (2, 3, 2, 'Robotics Forward Kinematics', 60),
 (2, 3, 3, 'Single variable gradient descent', 70),
 (2, 3, 4, 'Trapezoidal rule', 80),
 (2, 3, 5, 'Image edge detection', 90),
 (2, 3, 6, 'Multi variable gradient descent', 100),
 (2, 3, 7, 'N/A', 110)]

> Q. List average marks of assignments which are graded

In [13]:
%sql SELECT avg(assignment_marks) FROM assignment WHERE assignment_marks != 0

 * sqlite://
Done.

[(85.0,)]

<br/>

> Q. Find the total time allotted for each module of the 1st course

In [14]:
%sql SELECT module_num, SUM(time_allotted) AS Total_Time_Allotted FROM unit WHERE course_id = 1 GROUP BY module_num

 * sqlite://
Done.

[(1, 0.75), (2, 6.25), (3, 15.25)]

<br/>

> Q. Find total marks of assignment of each module of the second course. Take care of the case where assignment mark = 0

In [15]:
%sql SELECT module_num, SUM(assignment_marks) FROM assignment WHERE assignment_marks != 0 GROUP BY module_num

 * sqlite://
Done.

[(2, 510), (3, 510)]

### Nested Query

A nested query is a query that has another query embedded within it; the embedded query is called a subquery

Q. List all attributes of the assignment with the highest mark.

In [0]:
#Don't run this cell wont work
%sql SELECT * FROM assignment A1 WHERE A1.assignment_marks >= ALL(SELECT A2.assignment_marks from assignment A2)


| course_id	| module_num	| unit_num	| assignment_name	| assignment_marks | 
| - | - | - | - | - | 
| 2	| 2	| 7	| Eigen Faces	| 110	| 
| 2	| 3	| 7	| N/A	| 110	|

<br/>

**Recall:** To find the average marks of assignments
`SELECT avg(assignment_marks) FROM assignment WHERE assignment_marks != 0`


> Q. List out the name and marks of all assignments whose total marks is greater than average marks of assignments. Also take care of the case where assignment mark = 0

In [16]:
%%sql
SELECT a1.assignment_name, a1.assignment_marks FROM assignment a1 WHERE
a1.assignment_marks > (SELECT avg(a2.assignment_marks) FROM assignment a2 WHERE a2.assignment_marks != 0)

 * sqlite://
Done.

[('Inverse Kinematics', 90),
 ('Least-Squares', 100),
 ('Eigen Faces', 110),
 ('Image edge detection', 90),
 ('Multi variable gradient descent', 100),
 ('N/A', 110)]

<br/>

##Join Operations

Types of Joints:
1. Cross Join
2. Equi-Join
3. Inner Join
4. Natural Join
5. Outer Join
6. Self Join


A **Cross Join** returns the cartesian product of rows from tables in a join.
An **Equi-join** is a join in which the joining condition is based on equality between values in the common columns; common columns appear redundantly in the result table.


> Q. List the module name and project title of each project

In [17]:
%%sql
SELECT module_name, project_title FROM module, project 
WHERE (module.course_id, module.module_num) = (project.course_id, project.module_num)

 * sqlite://
Done.

[('Introduction to the Course', 'None'),
 ('Linear Algebra', '3D Reconstruction'),
 ('Calculus', 'Shape Optimization')]

> Easier way to do this is to use NATURAL JOIN operation

In [18]:
%sql SELECT module_name, project_title FROM  module NATURAL JOIN project;

 * sqlite://
Done.

[('Introduction to the Course', 'None'),
 ('Linear Algebra', '3D Reconstruction'),
 ('Calculus', 'Shape Optimization')]

<br/>

***Joins are used to gain more information about a relation***

> If we want to list out the module name and unit name  side by side.

In [19]:
%sql SELECT module_name, unit_name FROM module NATURAL JOIN unit;

 * sqlite://
Done.

[('Introduction to the Course', 'Introduction to the Course'),
 ('Introduction to the Course', 'Introduction to AI'),
 ('Basics of Computer Systems', 'Introduction to the Module'),
 ('Basics of Computer Systems', 'Digital Information & Digital Logic'),
 ('Basics of Computer Systems', 'Basics Computer Architecture'),
 ('Basics of Computer Systems', 'Basics of Linux Operating System'),
 ('Basics of Computer Systems', 'Basics of Computer Networks'),
 ('Basics of Computer Systems', 'Module Summary'),
 ('Python Programming', 'Introduction to the Module'),
 ('Python Programming', 'Python Programming'),
 ('Python Programming', 'Object Oriented Programming'),
 ('Python Programming', 'Web Scraping'),
 ('Python Programming', 'Numpy'),
 ('Python Programming', 'Pandas'),
 ('Python Programming', 'Matplotlib'),
 ('Python Programming', 'Module Summary'),
 ('Linear Algebra', 'Introduction to the Module'),
 ('Linear Algebra', 'Scalars Vectors and their operations'),
 ('Linear Algebra', 'Linear transformations and Matrix'),
 ('Linear Algebra', 'Solving Linear Equations'),
 ('Linear Algebra', 'Determinant and Inverses'),
 ('Linear Algebra', 'Orthogonality'),
 ('Linear Algebra', 'Eigen and Singular Value Decomposition'),
 ('Linear Algebra', 'Module Summary'),
 ('Calculus', 'Introduction to the Module'),
 ('Calculus', 'Derivatives'),
 ('Calculus', 'Integrals'),
 ('Calculus', 'Multivariable Calculus'),
 ('Calculus', 'Optimization of multivariable Functions'),
 ('Calculus', 'Integrals of multivariable functions'),
 ('Calculus', 'Module Summary')]

Lets create two relations r and s each containing fields A and B.

In [20]:
%%sql
CREATE TABLE r(A INTEGER, B VARCHAR(1));
CREATE TABLE s(A INTEGER, B VARCHAR(1));

 * sqlite://
Done.
Done.

[]

In [21]:
%sql INSERT INTO r VALUES(1,'a'),(2,'b'),(1,'c'),(3,'d'),(4,'a');

 * sqlite://
5 rows affected.

[]

In [22]:
%sql INSERT INTO s VALUES(2,'a'),(2,'b'),(1,'c'),(3,'d'),(4,'a');

 * sqlite://
5 rows affected.

[]

### **Cross Join**

A **Cross Join** returns the cartesian product of rows from tables in a join. 

![Cartesian Product](https://drive.google.com/uc?export=view&id=1Kn6mr9LQ2-gS9GmoYKJQdW3vG-lgn4UH)

In [23]:
%sql SELECT * FROM r, s

 * sqlite://
Done.

[(1, 'a', 2, 'a'),
 (1, 'a', 2, 'b'),
 (1, 'a', 1, 'c'),
 (1, 'a', 3, 'd'),
 (1, 'a', 4, 'a'),
 (2, 'b', 2, 'a'),
 (2, 'b', 2, 'b'),
 (2, 'b', 1, 'c'),
 (2, 'b', 3, 'd'),
 (2, 'b', 4, 'a'),
 (1, 'c', 2, 'a'),
 (1, 'c', 2, 'b'),
 (1, 'c', 1, 'c'),
 (1, 'c', 3, 'd'),
 (1, 'c', 4, 'a'),
 (3, 'd', 2, 'a'),
 (3, 'd', 2, 'b'),
 (3, 'd', 1, 'c'),
 (3, 'd', 3, 'd'),
 (3, 'd', 4, 'a'),
 (4, 'a', 2, 'a'),
 (4, 'a', 2, 'b'),
 (4, 'a', 1, 'c'),
 (4, 'a', 3, 'd'),
 (4, 'a', 4, 'a')]

### **Natural Join**

**Natural join** is an equi-join in which one of the duplicate columns is eliminated in the result table.

![Natural Join](https://drive.google.com/uc?export=view&id=1OjvZx2ZTxIPPbgy6OUA9Dgw1FFpm9sEN)

In [24]:
%sql SELECT * FROM r NATURAL JOIN s

 * sqlite://
Done.

[(2, 'b'), (1, 'c'), (3, 'd'), (4, 'a')]

### **Inner Join**

**Inner join** is a join in which the DBMS selects records from two tables only when the records have the same value in the common field that links the tables.


![Inner Product](https://drive.google.com/uc?export=view&id=1iumh9midfMyNYcC5x2caTrhHLKbkLdOp)

In [25]:
%sql SELECT * FROM r INNER JOIN s on r.A = s.A

 * sqlite://
Done.

[(1, 'a', 1, 'c'),
 (2, 'b', 2, 'a'),
 (2, 'b', 2, 'b'),
 (1, 'c', 1, 'c'),
 (3, 'd', 3, 'd'),
 (4, 'a', 4, 'a')]

In [26]:
%sql SELECT * FROM r INNER JOIN s on r.B = s.B

 * sqlite://
Done.

[(1, 'a', 2, 'a'),
 (1, 'a', 4, 'a'),
 (2, 'b', 2, 'b'),
 (1, 'c', 1, 'c'),
 (3, 'd', 3, 'd'),
 (4, 'a', 2, 'a'),
 (4, 'a', 4, 'a')]

In [27]:
%sql INSERT INTO r VALUES(5,'a')

 * sqlite://
1 rows affected.

[]

### **Left Outer Join**

* Extention of Join Operation that avoids loss of information. 
* Compute the join and adds tuples from one relation that may not match with any tuples in the other relation to the result of the join.
* Uses null values


**Note** Full Outer Join and Right Outer Join are not supported by sqlite



![Inner Product](https://drive.google.com/uc?export=view&id=1yu2gYRRtigoeBb2PmJtcxFPBuMaO2yz8)

In [32]:
%sql SELECT * FROM r LEFT OUTER JOIN s ON r.A = s.A

 * sqlite://
Done.

[(1, 'a', 1, 'c'),
 (2, 'b', 2, 'a'),
 (2, 'b', 2, 'b'),
 (1, 'c', 1, 'c'),
 (3, 'd', 3, 'd'),
 (4, 'a', 4, 'a'),
 (5, 'a', None, None)]

>In contrast, Inner Join excludes the last tuple.

In [33]:
%sql SELECT * FROM r INNER JOIN s ON r.A = s.A

 * sqlite://
Done.

[(1, 'a', 1, 'c'),
 (2, 'b', 2, 'a'),
 (2, 'b', 2, 'b'),
 (1, 'c', 1, 'c'),
 (3, 'd', 3, 'd'),
 (4, 'a', 4, 'a')]

### **Right Outer Join**

**RIGHT OUTER JOIN** specifies that in the output all records of the right relation, in this case the `s` relation must feature.

![Right Outer Join](https://drive.google.com/uc?export=view&id=1fsPH-aC2bhSr-zCl1PhY_zoqkg-pTJVS)


`sql> INSERT INTO s VALUES(6,'b')`

`sql> SELECT * FROM r RIGHT OUTER JOIN s ON r.A = s.A`


| A	| B | A | B |	
| - | - | - | - |
| 1	| a |	1 |	c |	
| 2	| b |	2 |	a |	
| 2 |	b |	2 |	b |	
| 1 |	c |	1 |	c |	
| 3 |	d |	3 |	d |	
| 4 |	a |	4 |	a |	
| NULL | NULL | 6  | b |	



### **Full Outer Join**

**FULL OUTER JOIN** keyword returns all records when there is a match in left (R) or right (S) table records.

![Full Outer Join](https://drive.google.com/uc?export=view&id=1Zqj-LX5jQpVELvqGqx6ZQ4NQ9POqGegQ)

A full outer join will result in following table:

```
sql> SELECT * FROM r RIGHT OUTER JOIN s ON r.A = s.A
UNION
SELECT * FROM r LEFT OUTER JOIN s ON r.A = s.A
```

| A | B	| A	| B	| 
| - | - | - | - |
| 1	| a	| 1	| c	| 
| 2	| b	| 2	| a	| 
| 2	| b	| 2	| b	| 
| 1	| c	| 1	| c	| 
| 3	| d	| 3	| d	| 
| 4	| a	| 4	| a	| 
| 5	| a	| NULL | NULL |
| NULL | NULL |	6	 | b |