In [11]:
import numpy as np
A = np.array([[4,3],[-5,9]])

C = np.array([20,26])

ainv = np.linalg.inv(A)
Values = ainv @ C
print(Values)

[2. 4.]

In [7]:
print("Hello")

Hello

In [14]:
A = np.array([[4,3,2],[-2,2,3],[3,-5,2]])
C = np.array([25, -10, -4])
np.linalg.solve(A,C)

array([ 5.,  3., -2.])

In [15]:
X = np.array()

TypeError: array() missing required argument 'object' (pos 1)

In [18]:
import pandas as pd
import random

np.random.seed(42)
df1 = pd.DataFrame(np.random.randint(0,10,(4,4)), index = list('ABCD'), columns = list('WXYZ'))

df1

   W  X  Y  Z
A  6  3  7  4
B  6  9  2  6
C  7  4  3  7
D  7  2  5  4

In [19]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [20]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})